.banner__right h3 {
    font-size: 1rem;
}
.banner__right > img {
    height: 250px;
}
.info__redes {
    margin-top: 2em;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1.2em;
    padding: 1em;
}

.footer__information-title {
    color: #6CB09E;
}

.info__redes_social {
    display: grid;
    gap: 0.8em;
}
.info__redes_social p a{
    color: aliceblue;
    font-size: 2.5rem;
}

.footer__info {
    text-align: center;
    padding: 1em 1.2em;
    color: #6CB09E;
}

.info__code {  
    display: grid;
    gap: 0.8em;
}

.info__code a {  
    text-decoration: none;
}
.info__code a p {
    font-weight: 400;
    color:azure;
}
.info__code a p span {
    color: lawngreen;
    cursor: pointer;
}

@media (min-width:700px) {
    .banner__right h3 {
        font-size: 1.6rem;
    }
}