.footer {
    background: linear-gradient(180deg, rgba(28,49,94,1) 53%, rgba(108,176,158,1) 100%);
}

hr {
    opacity: 0.3;
}

.footer__bottom p  {
    color: #1C315E;
    padding: 1.2em;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
}