.card  {
    padding: 0.5em;
    width: 270px;
    height: 225px;
    border: 2px solid grey;
    background-color: #d1d1d1e0;
    box-shadow: 0px 2px 1px #000000c1;
    overflow: hidden;
}

.card__name {
    display: grid;
    align-items: center;
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 0.9rem;
    height: 45px;
}
.card hr {
    border: 1px solid #deddddc5;
    margin-bottom: 0.5em;
}
.card ul {
    list-style: none;
}
.card ul li{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    padding: 0.3em 0.2em;
    font-weight: 400;
}
.card ul li:nth-child(1){
    height: 65px;
}
.card ul li span{
    font-weight: bold;
    color: #181D31;
}

.bxs-gift {
    color: rgba(14, 0, 139, 0.771);
}
.bx-mail-send {
    color: green;
}

.card__btn {
    display: flex;
    gap: 0.5em;
    justify-content: end;
    align-items: center;
    padding-top: 2px;
}
.card__btn_delete {
    background-color: #D93F3F;
    padding: 0.3em 0.5em;
    cursor: pointer;
    font-size: 0.95rem;
    border-radius: 0.3em;
    transition: transform 0.5s ease;
}
.bx-trash {
    color: white;
}
.card__btn_delete:hover {
    transform: scale(1.02);
}
.card__btn_update {
    background-color: lightgray;
    padding: 0.3em 0.5em;
    font-size: 0.95rem;
    border-radius: 0.3em;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.card__btn_update:hover {
    transform: scale(1.02);
}

@media (min-width:700px) {
    .card  {
        width: 320px;
        height: 250px;
    }
    .card ul li{
        font-size: 1rem;
    }
    .card__name {
        font-size: 1rem;
    }
    .card ul li:nth-child(1){
        height: 70px;
    }
}